*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
}
.head{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    margin-bottom: 3rem;
}

.text-file {
    margin-top: 4rem;
    width: 50%;
}

.skip{
    color: rgb(255, 115, 0);
}

.text-file h1{
    font-size: 60px;
    color: darkslategrey;
}

.text-file p{
    font-size: 30px;
    color: gray;
}

.text-file a{
   text-decoration: none;
   background-image: linear-gradient(#f7971e, #ffd200);
   padding: 10px 40px;
   color: white;
  box-shadow: 10px 15px 20px gray;
   border-radius: 35px;
}

.text-file img{
     width: 80%;
}

/*second part */

.body{
    display: flex;
    /* padding-left: 5%; */
    margin-bottom: 2rem;
    margin: 0 auto;
    width:85%;
    height: 500px;
    
}

.area-1{
    /* width: 50%; */
    background-color: rgb(52, 58, 58);
    box-shadow: 0px  10px gray;
    text-align: justify;
    color: azure;
    /* background-image: url(./images/shapes/7.png);
    background-repeat: no-repeat; */
}

.area-1 img{
    width: 40%;
    margin-top: 5rem;
    margin-left: 7rem;
}

.area-1 h1{
    font-size: 54px;
    color: white;
    margin-top: 3.5rem;
}

.area-1 p{
    font-size: 20px;
    width: 70%;
    
}

.area-1 a{
    text-decoration: none;
    background-image: linear-gradient(#e44d26, #f16529);
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    box-shadow: 10px 15px 20px gray;
}

.recipe{
    text-align: center;
    margin-top: 10rem;
    font-size: 40px;
    color: gray;
}

.p-tag{
    text-align: center;
    font-weight: 400;

}

.body-2{
    display: flex;
    width: 80%;
    gap: 4rem;
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    margin-left: 7.5rem;
    padding-right: 5%;
    padding-left: 5%;
}

.food-1 img{
    width: 65%;
    padding: 15px 40px;
   
}
.food-2 img{
    width: 65%;
    padding: 15px 40px;
   
}
.food-1 h3{
    width: 50%;
}

.div-1 h3 {
    padding-left: 18%;
    
}

.div-1{
    background-color: white;
    border-radius: 45px;
    box-shadow: 10px 20px 40px grey;

}

.div-2{
    background-color: white;
    border-radius: 45px;
    box-shadow: 10px 20px 40px grey;
}

.div-1 p{
    margin-left: 10rem;
    width: 60%;
}
.div-1 img{
    padding-left: 18%;
}
.div-2 h3 {
    padding-left: 18%;
    
}

.div-2 p{
    margin-left: 10rem;
    width: 60%;
}
.div-2 img{
    padding-left: 18%;
}

.body-3{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    background-color: white;
    border-radius: 35px;
    box-shadow: 10px 10px 40px wheat;
    height: 150px;
    width: 82%;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.box-1 , .box-2 , .box-3{
    margin-top: 3rem;

}

.box-1 h1{
    font-size: 40px;
    text-align: center;
}
.box-2 h1{
    font-size: 40px;
    text-align: center;
}
.box-3 h1{
    font-size: 40px;
    text-align: center;
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 250px;
    padding-top: 40px;
    letter-spacing: 3px;
    margin-top: 7rem;
}

.eat{
    color: #f7971e;
}
footer h1{
    color: gray;
}

